@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body{
     font-family: "Inter", sans-serif;
}

.my-shadow{
     filter: drop-shadow(0 0 2px white);
}

::-webkit-scrollbar{
     display: none;
}

input::placeholder{
     font-size: 1rem;
     /* background-color: rgba(29, 29, 29, 0.5); */
}

.myItem:hover{
     transform: scale(1.02);
     box-shadow: 0 0 1px #f6b0008e;
}

.fullScreenloader{
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background-color: #1f1f1f;
     display: flex;
     justify-content: center;
     align-items: center;
     z-index: 9999;
}

.loader-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.spinner{
     border: 4px solid rgba(255, 255, 255, 0.3);
     border-top: 4px solid #f6b100;
     border-radius: 50%;
     width: 50px;
     animation: spin 1s linear infinite;
}

.loader-wrapper p {
  color: #fff;
  font-size: 14px;
  letter-spacing: 1px;
  opacity: 0.8;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
