@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body{
     font-family: "Inter", sans-serif;
}

.my-shadow{
     filter: drop-shadow(0 0 2px white);
}

::-webkit-scrollbar{
     display: none;
}

input::placeholder{
     font-size: 1rem;
     /* background-color: rgba(29, 29, 29, 0.5); */
}

.myItem:hover{
     transform: scale(1.02);
     box-shadow: 0 0 1px #f6b0008e;
}