@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body{
     font-family: "Inter", sans-serif;
}

.my-shadow{
     filter: drop-shadow(0 0 2px white);
}

::-webkit-scrollbar{
     display: none;
}

input::placeholder{
     font-size: 1.3rem;
}